.oct-container {
    padding: var(--scale-4);
    width: 100%;
    min-height: 50dvh;
    box-sizing: border-box;
    margin: 0px;
}

.oct-container--center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@container oct-body (min-width: 480px) {
    .oct-container {
        padding: var(--scale-6);
    }
}

@container oct-body (min-width: 640px) {
    .oct-container {
        padding: var(--scale-8);
    }
}