.oct-progress {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 1cap;
  grid-template-areas:
    "oct-progress__label"
    "oct-progress__bar";
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.oct-progress__label {
  grid-area: oct-progress__label;
  font-size: 0.85em;
  color: var(--cyan-600);
  font-weight: 500;
}

.oct-progress__bar {
  grid-area: oct-progress__bar;
  width: 100%;
  height: 0.5em;
  background: var(--cyan-300);
  border-radius: 0.25em;
  overflow: hidden;
}

