.oct-card {
    --box-shadow-x: var(--scale-2); /* X offset */
    --box-shadow-y: var(--scale-2);  /* Y offset */
    --border-radius: 1em;
    --box-shadow-color: var(--cyan-300);
    background-color: var(--body-background-color);
    border-radius: var(--border-radius);
    border: 1px solid var(--body-font-color);
    overflow: hidden;
    transition: all 0.3s ease;
    min-width: 24cap;
    position: relative;
}

@container oct-body (min-width: 480px) {
    .oct-card {
        min-width: var(--size-14);
    }
}

.oct-card.oct-card--hoverable:hover {
    transform: translate(calc(var(--scale-2)), calc(var(--scale-2) * -1));
    box-shadow: calc(var(--box-shadow-x) * -1) var(--box-shadow-y) 0px var(--box-shadow-color);
}

@media (prefers-color-scheme: dark) {
    .oct-card.oct-card--hoverable:hover {
        --box-shadow-color: var(--orange-600);
    }
}

body[data-theme="dark"] .oct-card.oct-card--hoverable:hover {
    --box-shadow-color: var(--orange-600);
}

.oct-card__image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.oct-card--landscape .oct-card__image img {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
}

.oct-card--square .oct-card__image img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
}

.oct-card--portrait .oct-card__image img {
    width: auto;
    height: 100%;
    aspect-ratio: 4 / 3;
}

.oct-card__content {
    padding: var(--scale-5);
}

.oct-card__header {
    margin: 0px 0px 1cap 0px;
    width: 100%;
}

.oct-card__header .oct-card__title {
    font-size: var(--size-6);
    font-weight: 600;
    line-height: var(--size-6);
    vertical-align: baseline;
    color: var(--orange-700);
    margin: 0px;
}

.oct-card__header .oct-card__subtitle {
    font-size: var(--size-4);
    font-weight: 400;
    line-height: var(--size-6);
    vertical-align: text-top;
    color: var(--orange-600);
    margin: 0px;
}

.oct-card__content {
    font-size: var(--size-3);
    color: var(--orange-800);
}

.oct-card__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em;
}

@media (prefers-color-scheme: dark) {
    .oct-card__header .oct-card__title  {
        color: var(--orange-200);
    }

    .oct-card__header .oct-card__subtitle  {
        color: var(--gray-200);
    }

    .oct-card__content {
        color: var(--orange-000);
    }
}

body[data-theme="dark"] .oct-card__header .oct-card__title {
    color: var(--orange-200);
}

body[data-theme="dark"] .oct-card__header .oct-card__subtitle {
    color: var(--gray-200);
}

body[data-theme="dark"] .oct-card__content {
    color: var(--orange-000);
}