.oct-dialog {
    --shadow-color: var(--cyan-100);
    width: 80dvw;
    border: 0px;
    background-color: var(--body-background-color);
    bottom: 0px;
    box-shadow: 0px 4px 6px var(--shadow-color);
}

@media (prefers-color-scheme: dark) {
    .oct-dialog {
        --shadow-color: var(--magenta-700);
    }
}

body[data-theme="dark"] .oct-dialog {
    --shadow-color: var(--magenta-700);
}

.oct-dialog::before {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: var(--sunset-gradient-horizontal);
}

.oct-dialog__container {
    padding: var(--scale-3);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: var(--scale-2);
}

.oct-dialog__button-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em;
    margin-top: 1cap;
}