li.oct-nav-item {
    font-size: var(--size-4);
    line-height: var(--size-4);
    font-weight: 500;
    text-align: center;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    color: var(--body-font-color);
    padding: var(--scale-2) var(--scale-4);
    border-radius: var(--border-radius);
    text-transform: lowercase;
    text-decoration: none;
    box-sizing: padding-box;
    border: 0px;
}

li.oct-nav-item a {
    color: inherit;
    text-decoration: none;
}

.oct-nav-item:hover {
    border: 1px solid var(--magenta-600);
    border-bottom: 4px solid var(--magenta-600);
    color: var(--magenta-600);
}

li.oct-nav-item--active {
    border-color: var(--orange-500);
    color: var(--orange-500);
}
